<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BFB</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">	

	{% load staticfiles %}
	<link rel="stylesheet" href="../static/tweets.css" rel="stylesheet" type="text/css">

</head>
<body>

<div class="row justify-content-center" >
	<div class="col-lg-10">
		<div class="row">
			<div class="col-sm-6">
				<h2>TWEETS</h2>
				{% for key, value in tweets.items %}

				<div class="col-sm-12" id="tweet">
					<div class="row">

						<div class="col-sm-10" style="border: 1px solid black">

							<h6>{{ value.3 }} @{{ value.4 }}</h6>

							<div class="row">
								<div class="col-sm-1">
									<img src={{ value.5 }} alt="" style="padding-right: 10px;">
								</div> 
								<div class="col-sm-11">
									<p style="padding-left: 15px;">{{key}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-11">
									<h6>Retweets: {{ value.1 }}   Favorites: {{ value.2 }}    Date: {{ value.6 }}</h6>
								</div>
							</div>
						</div>
						<div class="col-sm-2" id="sentiment">
							<div class="text-center">
								<br>
								<br>
								<br>
								<h6 style="font-size: 20px;">{{ value.0 }}</h6>
							</div>
						</div>
					</div>
				</div>
				<br/>

				{% endfor %}

			</div>


			<div class="col-lg-6">
				<h2>LIKES</h2>
				{% for key, value in likes.items %}

				<div class="col-sm-12" id="tweet">
					<div class="row">

						<div class="col-sm-10" style="border: 1px solid black">

							<h6>{{ value.3 }} @{{ value.4 }}</h6>

							<div class="row">
								<div class="col-sm-1">
									<img src={{ value.5 }} alt="" style="padding-right: 10px;">
								</div> 
								<div class="col-sm-11">
									<p style="padding-left: 15px;">{{key}}</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-11">
									<h6>Retweets: {{ value.1 }}   Favorites: {{ value.2 }}    Date: {{ value.6 }}</h6>
								</div>
							</div>
						</div>
						<div class="col-sm-2" id="sentiment">
							<div class="text-center">
								<br>
								<br>
								<br>
								<h6 style="font-size: 20px;">{{ value.0 }}</h6>
							</div>
						</div>
					</div>
				</div>
				<br/>

				{% endfor %}
				<br/>		
				
			</div>
		</div>
	</div>
</div>

</body>


<a href="{% url 'home'%}">Start Again</a>
</html>