<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

	{% load staticfiles %}
	<link rel="stylesheet" href="../static/style.css" rel="stylesheet" type="text/css">
</head>


<body>

	<br>
	<br>
	<br>

<div class="jumbrotron">
	<div class="container text-center">
		<h1>SENTIMENT STOCK</h1>		
	</div>
</div>

	<br>
	<br>
	<br>

<div class="jumbrotron">
	<div class="container text-center">
		<form action="{% url 'tweets' %}">
		<h3>Enter Twitter Handle:</h3>
		<textarea name="twitter_handle" id="" cols="20" rows="1"></textarea>
		<br>
		<button class="btn btn-default" type="submit" name="button"> Go! </button>
	</form>		
	</div>
</div>

<br>
<br>
<br>

<div class="jumbrotron">
	<div class="container text-center">
		<h5>Don't be a negative Nancy!</h5>
		<h5>See what type of sentiment you are putting out on Twitter.</h5>	
	</div>
</div>


</body>
</html>