<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BFB</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

	{% load staticfiles %}
	<link rel="stylesheet" href="../static/tweets.css" rel="stylesheet" type="text/css">
</head>


<body>

	<br>
	<br>
	<br>

<div class="jumbrotron">
	<div class="container text-center">
		<h1>BFB</h1>
			
		<h2>BETTER FRIEND BUREAU</h2>	


		<p>BETA</p>
	</div>
</div>

	<br>
	<br>
	<br>

<div class="jumbrotron">
	<div class="container text-center">
		<form action="{% url 'tweets' %}">
			<textarea name="twitter_handle" id="" cols="20" rows="1" placeholder="Enter Twitter Handle" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"></textarea>
			<br>
			<button class="btn btn-default" type="submit" name="button"> Go! </button>
			<br>
			<br>
			<div class="container text-center">

				<h5>See what the mood of your friend's tweets are!</h5>	
			</div>
		</form>		
	</div>
</div>

<br>
<br>
<br>

<div class="jumbrotron">

	<div class="container text-center">

		<br>
		<br>
		<br>
		<h6>What We Are Trying To Do</h6>
		<p>If you notice a friend mood is down, reach out - see if they are doing alright. If this website can make one person feel less lonely on a bad day I will consider it a success.</p>

	</div>


	<br>
	<br>
	<br>
	<div class="container text-center">
		Note: This software isn't perfect and doesn't define your actual mood, and if someone is on private we will not have access to their tweets
	</div>
</div>


</body>
</html>