<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BFB</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

	{% load staticfiles %}
	<link rel="stylesheet" href="../static/tweets.css" rel="stylesheet" type="text/css">

</head>

<script>
{% block jquery %}
var endpoint = '/api/chart/data/'
var labels = []
var likes_labels = []
var tweet_stock = []
var tweet_ma = []
var daily_tweet_sentiment = []
var daily_like_sentiment = []
var like_stock = []
var like_ma = []
$.ajax({
	method: "GET",
	url: endpoint,
	success: function(data){
		labels = data.labels
		likes_labels = data.likes_dates
		tweet_stock = data.tweet_stock
		tweet_ma = data.tweet_ma
		daily_tweet_sentiment = data.daily_tweet_sentiment
		daily_like_sentiment = data.daily_like_sentiment
		like_stock = data.like_stock
		like_ma = data.like_ma
		console.log(data.likes_labels)
		//graph 1
		var ctx = document.getElementById("myChart");

		  var lineChart = new Chart(ctx, {
			type: 'line',
			markerType: "none",	
			data: {
				labels: labels,
				datasets: [{
					label: "Tweet Stock",
					markerType: "none",
					data: tweet_stock,
					borderColor: "#8e5ea2",
					fill: false,
				}, {
					label: 'Tweet 10-Day MA',
					markerType: "none",	
					data: tweet_ma,
					borderColor: "#3e95cd",
					fill: false,
				}]
			},
			options: {
				animation: false,
				tooltips: {
        			enabled: false
    			},
				scales: {
					yAxes: [{
					    scaleLabel: {
					        display: true,
					        labelString: 'Sentiment Stock'
					    }
					}],
					xAxes: [{
						time: {
							unit: 'month'
						}
					}]
				}
			}
		})
		// chart 2
		var ctx2 = document.getElementById("myChart2");

		  var lineChart2 = new Chart(ctx2, {
			type: 'line',
        	markerType: "none",
			data: {
				labels: labels,
				datasets: [{
					label: "Tweets",
					data: daily_tweet_sentiment,
					borderColor: "#8e5ea2",
					fill: false,
				}, {
					label: 'Likes',
					data: daily_like_sentiment,
					borderColor: "#ff4e00",
					fill: false,
				}]
			},
			options: {
				title: {
            		display: true,
            		text: 'Daily Sentiment'
        		},
				animation: false,
				tooltips: {
        			enabled: false
    			},
				scales: {
					xAxes: [{
						time: {
							unit: 'month'
						}
					}]
				}
			}
		})
		//chart 3
		var ctx3 = document.getElementById("myChart3");

		  var lineChart = new Chart(ctx3, {
			type: 'line',
			markerType: "none",	
			data: {
				labels: likes_labels,
				datasets: [{
					label: "Like Stock",
					markerType: "none",
					data: like_stock,
					borderColor: "#ff4e00",
					fill: false,
				}, {
					label: 'Like 10-Day MA',
					markerType: "none",	
					data: like_ma,
					borderColor: "#3e95cd",
					fill: false,
				}]
			},
			options: {
				animation: false,
				tooltips: {
        			enabled: false
    			},
				scales: {
					xAxes: [{
						time: {
							unit: 'month'
						}
					}]
				}
			}
		})		  
	},		    



	error: function(error_data){
		console.log("error")
		console.log(error_data)
	}
})



{% endblock %}
</script>


<body>
	<div class="row">
		<div name='username' class="col-sm-3">
			<h6>Tweet Analysis for: {{ username }}</h6>
		</div>
		<div name='username' class="col-sm-3">
			<a href="{% url 'home'%}">Start Again</a>
		</div>
		<div class="col-sm-6 justify-content-right">
			<form action="{% url 'analysis' %}">
				
				<div class="row">
					<h6>Start Date: </h6>
					<textarea name="date_start" id="" cols="10" rows="1" placeholder="ex: 1/1/17"></textarea>
					<br>
					<h6>End Date: </h6>
					<textarea name="date_end" id="" cols="10" rows="1" placeholder="ex: 2/1/17"></textarea>
					<button class="btn btn-default" type="submit" name="button"> Analyze </button>
				</div>	
			</form>
			
		</div>
		<div>

		</div>


	</div>

	<br>
	
	<div class="row" >
		<div class="col-lg-6">
			<canvas id="myChart" height="150"></canvas>
		</div>
		<div class="col-lg-6">
			<canvas id="myChart3" height="150"></canvas>
		</div>
		<div class="col-lg-12">
			<canvas id="myChart2" height="50"></canvas>
		</div>
	</div>


<div class="row">
	<div class="col-sm-6">
		<h2>TWEETS</h2>
		{% for key, value in tweets.items %}

		<div class="col-sm-12" id="tweet" style="border: 1px solid black">
			<div class="row">

				<div class="col-sm-11">

					<h6>{{ value.3 }} @{{ value.4 }}</h6>

				<div class="row">
					<div class="col-sm-1">
						<img src={{ value.5 }} alt="">
					</div> 
					<div class="col-sm-10">
						<p>{{key}}</p>
					</div>
				</div>
					<div class="row">
						<div class="col-sm-10">
							<h6>Retweets: {{ value.1 }}   Favorites: {{ value.2 }}    Date: {{ value.6 }}</h6>
						</div>
					</div>
				</div>
				<div class="col-sm-1">
					<br>
					<br>
					<h6>{{ value.0 }}</h6>
				</div>
			</div>
		</div>
		<br/>

		{% endfor %}

	</div>


	<div class="col-lg-6">
		<h2>LIKES</h2>
		{% for key, value in likes.items %}

		<div class="col-sm-12 col-sm-offset-4" id="tweet" style="border: 1px solid black">
			<div class="row">

				<div class="col-sm-11">

					<h6>{{ value.3 }} @{{ value.4 }}</h6>
					


					<div class="row">
						<div class="col-sm-1">
							<img src={{ value.5 }} alt="">
						</div> 
						<div class="col-sm-10">
							<p>{{key}}</p>
						</div>
					</div>
						<div class="row">
							<div class="col-sm-10">
								<h6>Retweets: {{ value.1 }}   Favorites: {{ value.2 }}    Date: {{value.6}}</h6>
							</div>
						</div>
					</div>
				<div class="col-sm-1">
					<br>
					<br>
					<h6>{{ value.0 }}</h6>
				</div>
			</div>
		</div>
		<br/>

		{% endfor %}
		<br/>		
		
	</div>
</div>

</body>




</html>

